* {
    margin: 20;
    box-sizing: border-box;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;



  }
h1, h2 {
    color: green;
    font-family: "Trirong", serif;
}
  
  p {
    color: gray;
  }
      
      ul {
    border: 5px solid orange;
  }
  
  ol {
    border: 5px solid purple;
  }
  
  ol, ul {
    padding: 10px 20px;
    border-radius: 4px;
  }
  h1 {
    font-size: 2rem;
    margin: 0;
    color: purple;
  }
  
  dl {
    color: gray;
    margin: 0.5em 0;
  }
  
  dt {
    font-weight: bold;
    color: purple;
    font-family: "Inter", serif;

  }
  .flex-container {
    display: flex;
  }

  @media only screen and (max-width: 600px) {
    .item1 {grid-area: 1 / span 6;}
    .item2 {grid-area: 2 / span 6;}
    .item3 {grid-area: 3 / span 6;}
  }

